*.suo
*.rej
*.vspscc
*.vssscc
*.vs10x
obj
bin
artifacts
*TestResults/*
*.5.0.ReSharper.user
*.sln.Release.vsprops
*.5.1.ReSharper.user
*/_ReSharper.*
*.csproj.user
*.dbproj.schemaview
*.dbproj.user
*.dbmdl
*.user
*_wpftmp.csproj
_ReSharper.*
*.idea/*
*.orig
*.log
sh.exe.stackdump
*.*.swp
*.sln.Debug.vsprops
*/out.txt
*.datasource
*.bak
*.slnf
Backup/*
*/packages/*
packages/*
*.pyo
*.pyc
*.stackdump

.vs
.tmp

*.jfm
*.vsext

.localhistory
.classpath
.project
.settings
.factorypath
FlushDatabaseCloneMachine/Properties/launchSettings.json
